@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 3px solid greenyellow; */
}

:root {
  --main-color: #1a1a1a;
  --secondary-color: #666666;
  --text-color: #f2f2f2;
}

body {
  height: 100vh;

  background-color: var(--main-color);

  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color);

  overflow: hidden;
}

.start-game-page {
  background-color: var(--main-color);
  color: var(--text-color);

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  transition: margin 0.4s ease-in;
}

.start-game-page.up {
  margin-top: -100vh;
}

.start-game-page__title {
  font-size: 5rem;
  text-align: center;
}

.btn.btn--start,
.reset-btn {
  padding: 10px 20px;
  background-color: transparent;

  border: none;
  font-size: 1rem;
  color: #eee;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border: 1px solid var(--text-color);

  transition: all 0.4s ease;
}

.btn.btn--start:hover,
.btn.btn--start:active,
.reset-btn:hover {
  background-color: var(--text-color);
  color: var(--main-color);
  transform: scale(1.2);
}

.game-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.game-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vw;
  max-width: 500px;
  height: 80vw;
  max-height: 500px;
  gap: 10px;
}

.game-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  font-size: 3rem;
}

.reset-btn {
  padding: 10px 20px;
  background-color: transparent;

  border: none;
  font-size: 1rem;
  color: #eee;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border: 1px solid var(--text-color);

  transition: all 0.4s ease;
}

.game-display {
  display: flex;
  gap: 2rem;
}

.game-display__counter {
  font-size: 1.5rem;
}

.result-page {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.43);
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  transform: scale(0);
  transition: transform 0.4s ease-in;
}

.result-page.show {
  transform: scale(1);
}
